:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --text: white;
  --text-inverted: black;
  --btn-operation: #f49b0a;
  --btn-operation-hover: #fdc68d;
  --btn-number: #323232;
  --btn-number-hover: #737373;
  --btn-function: #a5a5a5;
  --btn-function-hover: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow: hidden;
  border: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #313030cb;
}

.calculator {
  width: 460px;

  padding: 20px 25px;
  margin: 25px 15px;
  border-radius: 25px;

  background: #030303e0;
}

.outputScreen {
  height: 155px;
  width: 370px;
  margin: 0 auto;
  border-bottom: 2px solid #474545;
}

#display {
  word-wrap: break-word;
  margin: 20px 0;
  display: flex;
  justify-content: end;
}

#calculation {
  position: fixed;
  top: 145px;
  padding: 10px 0 5px 5px;
  font-size: 30px;
  font-weight: 400;
  color: #aaa3a3;
  display: flex;
  justify-content: end;
  width: 360px;
  margin-bottom: 5px;
}

.btn-container {
  width: 100%;
  margin: 15px 10px;

  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 70px);
  gap: 17px 20px;
  justify-content: center;
}

.btn-container > .btn-number:nth-child(17) {
  grid-column: span 2;
  width: 100%;
  border-radius: 50px;
}

button {
  height: 70px;
  width: 70px;

  font-size: 20px;
  font-weight: 500;
  border-radius: 50%;
  color: var(--text);
  transition: 0.3s;
  cursor: pointer;
}

.btn-function {
  background: var(--btn-function);
}

.btn-function:hover {
  background: var(--btn-function-hover);
}

.btn-number {
  background: var(--btn-number);
}

.btn-number:hover {
  background: var(--btn-number-hover);
}

.btn-operation {
  background: var(--btn-operation);
}

.btn-operation:hover {
  background: var(--btn-operation-hover);
}

.footer {
  width: 340px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-left: 10px;
}

.footer p span {
  font-size: 13px;
  font-weight: 600;
  color: #868484;
}
