:root {
  --background: #313030cb;
  --calculator: #030303e0;
  --border-outputScreen: #474545;
  --calculation: #aaa3a3;

  --text: white;
  --text-inverted: black;
  --btn-operation: #f49b0a;
  --btn-operation-hover: #fdc68d;
  --btn-number: #323232;
  --btn-number-hover: #737373;
  --btn-function: #a5a5a5;
  --btn-function-hover: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background);
}

.calculator {
  max-width: 350px;

  border-radius: 25px;
  background-color: var(--calculator);
}

.outputScreen {
  max-height: 226px;
  margin: 20px 10px;

  color: var(--calculation);
  border-bottom: 3px solid var(--border-outputScreen);
}

#calculation {
  font-size: 23px;
}

.btn-container {
  margin: 0;
  padding: 30px 20px;
}

button {
  min-height: 50px;
  min-width: 50px;
  margin: 5px;

  font-size: 20px;
  color: var(--text);
  border-radius: 40px;

  transition: cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}

.row > .col:nth-child(17) {
  width: 50%;
}
.row > .col:nth-child(17) > button {
  width: 100%;
}

.btn-number {
  background-color: var(--btn-number);
}
.btn-number:hover {
  background-color: var(--btn-number-hover);
}

.btn-operation {
  background-color: var(--btn-operation);
}
.btn-operation:hover {
  background-color: var(--btn-operation-hover);
}

.btn-function {
  background-color: var(--btn-function);
}
.btn-function:hover {
  background-color: var(--btn-function-hover);
}

@media screen and (max-width: 450px) {
  .calculator {
    max-width: 270px;
  }

  button {
    margin: 5px;
    width: 20px;
    height: 20px;
    font-size: 15px;
  }

  #calculation {
    font-size: 20px;
  }
}
